@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");

* 
{
    font-family: 'Lato', sans-serif !important;
}

@font-face {
    font-family: 'gilroyBold';
    src: url(assets/Gilroy-Bold.woff) format("woff"),
    url(assets/Gilroy-Bold.svg) format("svg"),
    url(assets/Gilroy-Bold.ttf) format("truetype"),
    url(assets/Gilroy-Bold.eot) format("embedded-opentype"),
    url(assets/Gilroy-Bold.woff2);
}

h1,h2,h3,h4,h5,h6,p
{
    margin: 0px !important;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 280px;
    transition: all ease-in-out 0.5s;
    transition: all 0.5s;
    padding: 75px 0px 75px !important;
    background: #fff;
    overflow-y: hidden;
    box-shadow: 2px 0px 5px rgba(0,0,0,.1);
    overflow: visible !important;
}

.forPos
{
    position: relative;
    z-index: 99 !important;
    overflow: visible !important;
}

.arrowNav
{
    padding: 10px 12px !important;
    background:#FF9401;
    color: #fff !important;
    border-radius: 50% ;
    display: inline;
    margin-bottom: 90px !important;
    position: absolute !important;
    top: 65px;
    right: -20px;
    z-index: 999 !important;
    cursor: pointer;
}

.logo
{
    padding: 0px 30px !important;
}


.minLogo
{
    display: none !important;
    transition: ease-in 1s ;
}

#navbar
{
    padding: 55px 0px 0px;
    width: 100% !important;
}

#navbar ul
{
    padding-left: 0px !important;
    list-style-type: none !important;
    width: 100% !important;
}

#navbar ul li
{    
    width: 100% !important;
    position: relative !important;
}

.menu
{
    margin-bottom: 20px !important;
    margin-top: 30px !important;
    font-family: 'gilroyBold' !important; 
    font-size: 1.2rem !important;
    letter-spacing: -1px !important;
    position: relative;   
    padding: 5px 42px !important; 
    width: 100% !important;
}


#navbar ul li a
{
    font-size: 1.125rem !important;    
    color: #343943 !important;
    position: relative;
    display: block !important;
    padding: 10px 30px !important; 
}

.tooltips
{
    display: none !important;
}

#navbar ul li:hover
{
     background: #FF9401;
     cursor: pointer;
}


#navbar ul li a:hover span
{
    color: #fff;
    font-weight: 600;
    transition: all ease-in .1s;
    text-decoration: none !important;
}

#navbar ul li a:hover .icon
{
    background:url(images/incometax-icon.svg) no-repeat;
    background-position: center;
    background-size: 35px !important;
    transition: all ease-in .1s;
}

.icon.dashboard
{   
    background:url(images/dashboardOrange.svg) no-repeat;
    background-position: center;
    background-size: 25px !important;
    transition: all ease-in .1s;
}

#navbar ul li a:hover .icon.dashboard
{
    background:url(images/dashboardBlueHov.svg) no-repeat;
    background-position: center;
    background-size: 25px !important;
    transition: all ease-in .1s;
}

#navbar ul li a:hover .icon.gst
{
    background:url(images/gstSmall.svg) no-repeat;
    background-position: center;
    background-size: 35px !important;
    transition: all ease-in .1s;
}


#navbar ul li a:hover .icon.icon.other
{
    background:url(images/othersSmall.svg) no-repeat;
    background-position: center;
    background-size: 35px !important;
    transition: all ease-in .1s;
}

#navbar ul li a:hover .icon.icon.whats
{
    background:url(images/WhatsNewwSmall.svg) no-repeat;
    background-position: center;
    background-size: 35px !important;
    transition: all ease-in .1s;
}

.icon
{
    padding: 10px  25px!important;
    background:url(images/income-hover.svg) no-repeat;
    background-position: center;
    background-size: 35px !important;
    display: inline !important;
    margin-right: 15px !important;
}




.icon.gst
{
    background:url(images/gsticon_hover.svg) no-repeat;
    background-position: center;
    background-size: 35px !important;
    transition: all ease-in .1s;
}

.icon.other
{
    background:url(images/othersHov.svg) no-repeat;
    background-position: center;
    background-size: 35px !important;
    transition: all ease-in .1s;
}

.icon.whats
{
    background:url(images/WhatsNewHov.svg) no-repeat;
    background-position: center;
    background-size: 35px !important;
    transition: all ease-in .1s;
}


.badge
{
    padding: 4px 8px 2px!important;
    margin-left: 6px !important;
    margin-right: 15px !important;
}

.copyrights
{
    padding:10px 30px !important;
    margin-top: 95px !important;
    font-size: .875rem !important;
    opacity: .5;
}


#main
{
    margin-left: 280px;
    overflow: hidden !important;
    z-index: -1 !important;
}


.mainDashboardBlock
{
    background: #EAF3FF !important;
    padding: 80px 100px 120px !important;
}

.sortbyBlock
{
    padding: 26px 0px !important;
    text-align: right !important;
}

.sortbyBlock a
{
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    text-decoration: none !important;
    color: #575F70 !important;
}

.sortbyBlock a:active, .sortbyBlock a:hover
{
    color: #424650 !important;
    font-weight: 700 !important;
    padding-right: 10px !important;
}


h4
{
    font-size: 2.6rem !important;    
    font-weight: 700;
    color: #495B72 !important;
}

h5,.adminPersonName
{
    font-size: 1.2rem !important;
    font-weight: 600;
}

h6
{
    font-size: 1rem !important;
    font-weight: 400;
}

.count
{
    padding: 35px 0px 25px 35px !important;
}

.statics
{
    background: #fff !important;
    border-radius: 4px !important;
    box-shadow: 1px 1px 4px rgba(165, 177, 199, 0.5);
}

.byTime
{
    color: #D5E1F2 !important;
}

.box
{
    background: #4680FF;
    padding: 17px 33px !important;
    color:#fff !important;
    border-radius: 0px 0px 4px 4px !important;
}

.box.whatsNew,.whatsNew
{
    background: #9CCC65 !important;
}

.box.incomeTax,.incomeTax
{
    background: #FF5252 !important;
}

.box.gstTax,.gstTax
{
    background: #FFBA57 !important;
}

.otherServices
{
    background: #3bc7ff !important;
}

.dueMainBlock
{
    border-radius: 4px;
    margin-top: 25px !important;
}

.enquiryMainBlock
{
    background:  rgba(255,255,255,.5) !important;
    border-radius: 4px;
    margin-top: 25px !important;
    max-height: 480px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    position: relative !important;
}

.activeAdmin
{
    margin-top: 25px !important;
}

.cardHeader
{
    padding: 18px 58px !important;
    font-size: 1.1rem !important;
    color: #495B72 !important;
    font-weight: 600;   
    overflow: hidden !important;
    background:#fff ;
    box-shadow: 0px 1px 4px rgba(165, 177, 199, 0.5);
    border-radius: 4px 4px 0px 0px ;
    position: sticky;
    top:0px;
    position:-webkit-sticky;
}


.postedBy
{
    padding: 13px 58px 12px !important;
    font-weight: 400;
    border-bottom: 1px solid #D5E1F2;
    background:  rgba(255,255,255,.5) !important;
}

.enquiredBy
{
    padding: 13px 58px 12px !important;
    font-weight: 400;
    border-bottom: 1px solid #D5E1F2;
}

.enquiredFor
{
     font-size: 1rem !important;
     color: #495B72 !important;     
}

.enquiredName
{
    font-size: 1.1rem !important;
    font-weight: 600;   
}

.activeAdminList
{
    background:  rgba(255,255,255,.5) !important;
}

.activeAdminElement
{
    padding: 25px 30px !important;
}

.adminPersoninfo
{
    padding-left: 10px !important;
}

.adminPerson
{
    border-radius: 20px !important;
    width: 80px !important;
    height: 80px !important;
    background: url(./images/Rectangle\ 208.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.adminPersonActiveBy
{
    font-size: .9rem !important;
     color: #495B72 !important;     
}








.mainCont
{
     z-index: -1 !important;
}

.activeHeader
{
    width: 115px;
    overflow-x: visible !important;
}

.mainActive
{
    margin-left: 110px !important;
}

.activeHeader .logo .minLogo
{
    display: block !important;
}

.activeHeader .menu
{
    font-size: .99rem !important;
    text-align: center !important;
    padding: 0px !important;
}

.activeHeader .label
{
    display: none !important;
}

.activeHeader .nav-link
{
    padding-right: 0px !important;
}

.activeHeader .mainLogo
{
    display: none !important;
}

.activeHeader ul li:hover .tooltips
{
    opacity: 1;
    transition: ease-in .3s;
}

.activeHeader ul li:hover
{
    background: none !important;
}


.activeHeader .tooltips
{
    display: block !important;  
    opacity: 0;  
    color: #fff;
    background: #FF9401 !important;
    padding: 8px 10px !important;
    position: absolute;
    top: 3px;
    left: 115px;
    overflow-x: visible !important;
    width: 100% !important;
}

.activeHeader .tooltips::before
{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #FF9401 !important;
    transform: rotate(45deg);
    top: 40%;
    left: -4px;
    z-index: 998 !important;
}

.activeHeader .copyrights
{
    padding:10px 20px !important;
}



::-webkit-scrollbar {
        width: 6px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
        background:#f1f7ff !important;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: rgb(206, 206, 206);
        border-radius: 20px !important;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: rgb(182, 182, 182);
        }

        .dropdown-toggle::before {
            display: none !important;
        }

        .btn {
            padding: 0px !important;
        }


















@media (max-width:1366px) and (min-width:1200px)
{
    header {
        width: 250px;
        padding: 35px 0px !important;
    }


    .logo img
    {
        max-width: 170px !important;
    }


    #navbar
    {
        padding: 15px 0px 0px;
    }

    .menu
    {
        margin-bottom: 15px !important;
        margin-top: 25px !important;
        font-size: 1rem !important;
        letter-spacing: 0px !important;
        padding-left: 30px !important;
    }

    #navbar ul li a
    {
        font-size: .875rem !important;
        padding: 6px  25px!important;
    }

    .icon,.icon.gst,.icon.other,.icon.whats
    {
        background-size: 30px !important;
        margin-right: 10px !important;
    }

    .arrowNav
    {
        padding: 7px 10px !important;
        right: -15px;
        top: 50px !important;
    }

    #main
    {
        margin-left: 250px;
    }


    .activeHeader
    {
        width: 115px;
    }

    .mainActive
    {
        margin-left: 115px !important;
    }

    .activeHeader .logo .minLogo
    {
       max-width: 95px !important;
       width: 100% !important;
       margin-bottom: 35px !important;
    }

    .copyrights
    {
        margin-top: 60px !important;
        font-size: .835rem !important;
        line-height: 16px !important;
    }

    .activeHeader .tooltips
    {
        padding: 4px 5px !important;
        width: 70% !important;
        font-size: .8rem !important;
        text-align: center;
    }

    .activeHeader .menu
    {
        font-size: .875rem !important;
        letter-spacing: 0px !important;
        padding-left: 8px !important;
    }

    .activeHeader ul li a
    {
        padding-left: 8px !important;
    }

    .mainDashboardBlock
    {
        background: #EAF3FF !important;
        padding: 50px !important;
    }


    .sortbyBlock
    {
        padding:0px 0px 26px 0px !important;
    }

    .sortbyBlock a
    {
        font-size: 1rem !important;
    }

    .sortbyBlock a:active, .sortbyBlock a:hover
    {
        padding-right: 0px !important;
    }

    h4
    {
        font-size: 2rem !important;    
    }

    h5
    {
        font-size: 1.02rem !important;
        font-weight: 600;
    }

    h6
    {
        font-size: .835rem !important;
    }

    .count
    {
        padding: 25px 0px 15px 25px !important;
    }

    .box
    {
        padding: 10px 25px !important;
    }

    .dueMainBlock
    {
        margin-top: 25px !important;
    }

    .postCatogry
    {
        font-size: .935rem !important;  
    }

    .postByPerson,.postByTime
    {
        font-size: .875rem !important;
    }

    .enquiryMainBlock
    {
        margin-top: 25px !important;
        max-height: 344px !important;
    }

    .cardHeader
    {
        padding: 8px 25px !important;
        font-size: .935rem !important;
    }

    .postedBy,.enquiredBy
    {
        padding: 10px 25px 8px !important;
    }

    .enquiredName
    {
        font-size: .95rem !important;
    }

    .enquiredFor
    {
        font-size: .875rem !important;
        color: #495B72 !important;     
    }

    .enquiredDate
    {
        font-size: .835rem !important;
    }

    .activeAdmin
    {
        margin-top: 16px  !important;
    }

    .activeAdminElement
    {
        padding: 12px 25px !important;
    }

    .adminPersoninfo
    {
        padding-left: 5px !important;
    }

    .adminPerson
    {
        border-radius: 8px !important;
        width: 60px !important;
        height: 60px !important;
    }

    .adminPersonName
    {
        font-size: .9rem !important;
    }

    .adminPersonActiveBy
    {
        font-size: .835rem !important;
    }






    }